﻿<%@ Control Language="C#" AutoEventWireup="true" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" Inherits="Sitecore.SbosAccelerators.RelevantContentDetection.Web.UI.BaseRelevantContentControl" %>

<%--
  <%= Sitecore.Web.UI.WebControls.FieldRenderer.Render(this.RelevantContentItem.Item, "Title") %>
--%>